.cube{
    background-color: rgb(53, 190, 228);
    color: green;
    font-size: 40px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.parent{
    background-color: blue;
    width: 82px;
    border: 5px solid blueviolet;
}